  .index {
	  /* height: 100%; */
}
	ul.cards {
      width: 100%;
      margin-bottom: -10px;
	  margin-left:8px;
      margin-top: 10px;
      background: none;
    }
    ul.cards li{
      list-style: none;
      float: left;
      width: 32%;/*可以用百分比*/
      height: 120px;/*可以用百分比 */
      margin-bottom: 5px;
      /* border: 1px solid red; */
    }
    ul.cards li  > div{
	  /* display: block; */
      background: #f9d66b;
	  box-shadow:-2px 0px 1px #C0C0C0;
      margin: 0 5px;
      border-radius: 8px;
      text-align: center;
      /* line-height: 150px; */
    }
	ul.selected-cards {
		display: block;
		height:150px;
		border-radius: 8px;
		padding-top: 5px;
		/* border: 1px solid green; */
	}
	div.card-slot {
		/* border: 1px solid red; */
		border-radius: 8px;
		height: 115px;
	}
	
	button.playbutton {
		width:90%;
		background-color: #4bc73e;
	}

	
	ul.categories {
		overflow-x: auto;
		list-style: none;
		white-space:nowrap;
		width: auto;
	}
	li.categories-item {
		margin-left: 20px; //每个li设置间距为20px 
		display: inline-block;
	}
	
	.selected-cards-block {
		position: absolute;
		top:0;
		display: block;
		width:100%;
		margin: 5px;
		padding: 0;
		border-radius: 8px;
		/* border: 1px solid red; */
	}
	.choose-card-block {
		position: absolute;
		top:260px;
		bottom: 0px;
		overflow-x: hidden;
		overflow-y: scroll;
	}
	.card-text {
		/* display: inherit; */
		padding-bottom: 5px;
	}
	.card-img {
		/* padding-bottom: 100%; */
		border-radius: 8px;
		position: relative;
		padding-top:5%;
		height: 80px;
		width: 80px;
	}
	
	.selected-tab {
		color:#f37b1d;
	}